home-view-padrao {
    #button-pertodemim {
        position: absolute;
        top: 80%;
        width: 100%;
        text-align: center;
    }

    #button-pertodemim button{
        width: 161.516px;
    }
}
