home-view-selecionar-coordenadas {
    #button-voltar {
        position: absolute;
        top: 80%;
        width: 100%;
        text-align: center;
    }

    #button-confirmar {
        position: absolute;
        top: 86%;
        width: 100%;
        text-align: center;
    }
}
