page-pesquisa-coordenadas-modal {
    .voltar-arrow{
        font-size: 4rem;
    }

    .sem-resultados{
        text-align: center;
    }

    .detalhe-info{
        margin-left: 32px;
        font-size:1rem;
        color:gray;
    }

    .locate{
        padding: 0 4px 0 2px;
    }
}
