page-home-view-viagem-selecionar-rota {
    ion-list{
        margin-bottom: 48px !important;
    }
    
    ion-list-header{
        margin-bottom: 0 !important;
    }

    .detalhe-info{
        float: right;
        font-size:1rem;
        color:gray;
    }
}
