page-horario-detalhes {
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    #cardIcon {
        font-size:5em;
    }

    #addFavorito{
        float: right;
        background-color: transparent;
        color: #424242;
    }
}
